<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding0" />
      </basicHttpBinding >
    </bindings>-->
    <!--<services>
      <service behaviorConfiguration="Behavior0" name="WCFSoapServiceAirport.AirlineService">
        --><!--<endpoint address="http://localhost:2016/AirlineService.svc/GetAllAirlines" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding0" contract="WCFSoapServiceAirport.IAirlineService" />
        <endpoint address="http://localhost:2016/AirlineService.svc/DeleteAirline" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding0" contract="WCFSoapServiceAirport.IAirlineService" />
        <endpoint address="http://localhost:2016/AirlineService.svc/EditAirline" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding0" contract="WCFSoapServiceAirport.IAirlineService" />
        <endpoint address="http://localhost:2016/AirlineService.svc/AddAirline" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding0" contract="WCFSoapServiceAirport.IAirlineService" />--><!--
        <endpoint address="http://my:2016/AirlineService.svc" binding="mexHttpBinding" contract="WCFSoapServiceAirport.IAirlineService" />
      </service>
      <service behaviorConfiguration="Behavior0" name="WCFSoapServiceAirport.FlightService">
        <endpoint address="/" binding="mexHttpBinding" contract="WCFSoapServiceAirport.IFlightService" />
        <endpoint address="/GetAllFlights" binding="mexHttpBinding" contract="WCFSoapServiceAirport.IFlightService" />
        <endpoint address="/AddFlight" binding="mexHttpBinding" contract="WCFSoapServiceAirport.IFlightService" />
        <endpoint address="/DeleteFlight" binding="mexHttpBinding" contract="WCFSoapServiceAirport.IFlightService" />
        <endpoint address="/FindFlights" binding="mexHttpBinding" contract="WCFSoapServiceAirport.IFlightService" />
        <endpoint address="/SortByPrice" binding="mexHttpBinding" contract="WCFSoapServiceAirport.IFlightService" />
      </service>
    </services>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>